.wrapper{
  border-radius: 4px;
  width: 100%;

  position: relative;  
  overflow: hidden;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  mix-blend-mode: multiply;
  background-color: var(--green);
  z-index: 2;
  overflow: hidden;
}

.image {
  z-index: 1;
  object-fit: cover;
}