.wrapper{
  border-radius: 4px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;  
  overflow: hidden;

}

.imageOverlay {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  mix-blend-mode: multiply;
  background-color: var(--green);
  z-index: 2;
  overflow: hidden;
}


.image {
  z-index: 1;
  object-fit: cover;
}