.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.container:not(:last-of-type){
  margin-bottom: 5rem;
}

.container ul{
  list-style: none;
  display: flex;
  gap: 0.5rem;
  max-width: 400px;
}

.details {
  grid-area: 1/1/-1/9;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.container:nth-of-type(odd) .details {
  grid-area: 1/-1/-1/-9;
  text-align: end;
  align-items: flex-end;
}

.container:nth-of-type(odd) .details ul {
  justify-content: flex-end;
}

.featuredText{
  color: var(--green);
  font-size: var(--fz-sm);
  margin-bottom: 0.8rem;
}

.name{
  color: var(--lightest-slate);
  margin-bottom: 25px;
      font-size: clamp(24px, 5vw, 28px);
  
}

.descriptionWrapper{
  background-color: var(--light-navy);
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 25px;
}

.description{
  color: var(--light-slate);
  line-height: 1.6;
}

.toolsList{
  font-size: var(--fz-sm);
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.imageContainer{
  grid-area: 1/-1/-1/-8;
  position: relative;
  z-index: 0;

  overflow: visible;
  border-radius: 4px;
  background-color: var(--navy);
}

.container:nth-of-type(odd) .imageContainer {
  grid-area: 1/1/-1/8;
}

@media(max-width: 1080px){
  .details {
      grid-area: 1/1/-1/7;
      z-index: 1;
      display: flex;
      flex-direction: column;
    }
  
    .container:nth-of-type(odd) .details {
      grid-area: 1/-1/-1/-7;
      text-align: end;
      align-items: flex-end;
    }
}


@media (max-width: 768px){
  
  .container, .container:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  
  .details{
    padding: 40px 40px 30px;
  }
  
  .details, 
  .imageContainer, 
  .container:nth-of-type(odd) .imageContainer,
  .container:nth-of-type(odd) .details{
    grid-column: 1 / -1;
    text-align: left;
    align-items: flex-start;
  }
  
  .imageContainer{
    opacity: 0.1;
    object-fit: cover;
    width: auto;
    height: 100%;
    filter: grayscale(100%) contrast(1) brightness(50%);
    height: 100%;
  }
  
  .container:nth-of-type(odd) .details ul {
    justify-content: flex-start;
  }
  
  .descriptionWrapper {
    background-color: transparent;
    padding: 1rem 0;
    border-radius: none;
    margin-bottom: 25px;
  }
  
  .name{
    color: white;
  }

}