.section {
  max-width: 800px;
}

.content{
  display: flex;
  gap: 2rem;
}

.buttonList{
  width: max-content;
  height: max-content;
  overflow: visible;
  position: relative;
}

.buttonList button{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  white-space: nowrap;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-left: 2px solid var(--lightest-navy);
  color: var(--slate);
}

.selectedBorder {
  position: absolute;
  left: -2px;
  width: 2px;
  height: 100%;
  background-color: var(--green);
}

.buttonText {
  z-index: 3;
}

.buttonBackground {
 position: absolute;
 inset: 0;
 background-color: var(--light-navy); 

}

.jobPanel h3{
  color: var(--lightest-slate);
  margin-bottom: 1rem;
}

.jobPanel .greenTitle {
  color: var(--green);
}

.jobPanel .dateRange{
  color: var(--slate);
  margin-bottom: 1.5rem;
}

.jobPanel ul {
  list-style: none;
  font-size: 18px;
}

.jobPanel li {
  position: relative;
  padding-left: 1rem;
  color: var(--slate);
  margin-bottom: 10px;
}

.jobPanel li::before{
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
}
