.wrapper{
  display: inline-block;
  position: relative;

}

.styledButton{
  display: inline-block;
  position: relative;
  color: var(--green);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--green); 
  z-index: 0;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  
}

.styledButton:hover{
  box-shadow: 4px 4px 0 0 var(--green);
  transform: translate(-4,-4);
}

.small{
  padding: 0.75rem 1rem;
}

.large {
  padding: 1.25rem 1.75rem;
}