.card {
  background-color: var(--light-navy);  
  padding: 2rem 1.5rem;
  height: 100%;
}

.cardInner{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.iconContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.rightIcons{
  display: flex;
  gap: 0.8rem;
}

.folderIcon{
  color: var(--green);
  width: 40px;
  height: 40px;
  stroke-width: 1px;
}

.h3{
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
}

.card ul {
  font-size: var(--fz-sm);
  margin-top: auto;
  list-style: none;
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px){
  
}