.infoWrapper{
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoWrapper::after{
  margin-top: 1.6rem;
  content: "";
  width: 2px;
  height: 90px;
  background-color: var(--light-slate);
  
}

.left{
  left: 40px;
  right: auto;
}

.right{
  right: 40px;
  left: auto;
}

@media (max-width: 769px) {
  .infoWrapper {
    display: none;
  }
}