:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  
  --border-radius: 4px;
  
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--navy);
    --foreground: var(--lightest-slate);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
  counter-reset: section nav;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--foreground);
  background: var(--navy);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  line-height: 1.6;
  color: var(--light-slate);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
