.header{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: var(--navy);
  z-index: 20;
}


.logoContainer {
  position: relative;
  width:50px;
  height: 50px;
}

.logo, .hex{
  position: absolute;
  inset: 0;
  color: var(--green);
  stroke: var(--green);
}

.animateLogoWrapper{
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hex{
  position: absolute;
  inset: 0;
  fill: var(--green);
  z-index: 1;
  pointer-events: none;
}

.menuButton, .closeButton, .mobileMenu{
  display: none;
}

.menuButton, .closeButton {
  width: 32px;
  height: 32px;
  color: var(--green);
  cursor: pointer;
}

.mobileMenu {
  position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: min(75vw, 400px);
    background-color: var(--light-navy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* base closed state */
    transform: translateX(calc(100% + 1px));
    opacity: 0;
  
    /* keep transitions defined here so they work both ways */
    transition: transform 0.5s ease, opacity 0.5s ease;
  
    /* keep visible during animation */
    pointer-events: none;
  
    z-index: 30;
}

.backdrop {
  /* position: fixed;
  inset: 0;
  z-index: 30;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  background-color: rgba(10, 25, 47, 0.3);

    backdrop-filter: blur(5px);
  isolation: isolate;
  transform: translateZ(0);
  contain: paint; */
}

@media (max-width: 1080px){
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .header{
    padding: 0 25px;
  }
  
  .nav{
    display: none;
  }
  
  .mobileMenu.open{
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
  
  .mobileMenu.close {
    transition: transform 1s ease;
    
  }
  
  .mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mobileNav ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mobileNav li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: var(--transition);
  }
  
  .mobileNav li:hover{
    color: var(--green);
    
  }
  
  .menuButton.closed, .closeButton.closed {
    display: none;
  }
  
  .menuButton, .closeButton{
    display: block;
    z-index: 40;
  }
  
  .backdrop{
  }
  
  .open~.backdrop,
  .backdrop.open {
    opacity: 1;
    pointer-events: all;
  }
  
}