.h2{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--lightest-slate);
  font-size: clamp(26px, 5vw, var(--fz-heading));
  margin-bottom: 3rem;
  width: 100%;
  white-space: nowrap;
}

.h2::before{
  counter-increment: section 1;
  content: "0" counter(section) ".";
  color: var(--green);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  align-self: center;
}

.h2::after{
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  background-color: var(--lightest-navy)
}

.noCount::before{
  content: "";
  counter-increment: none;
}

@media (max-width: 1080px){
  .h2::after{
    width: 200px;
  }
}

@media (max-width: 768px) {
  .h2::after {
    width: 100%;
  }
}